# Build output
.next
out
dist
build

# Dependencies
node_modules
.bun

# Cache
.cache

# Misc
.DS_Store
*.pem

# Debug
bun-debug.log*

# Local env files
.env*.local
.env

# Vercel
.vercel

# Coverage
coverage

# PWA files
**/public/sw.js
**/public/workbox-*.js
**/public/worker-*.js
**/public/fallback-*.js

# Documentation
apps/docs/**/*.mdx